.dashboard {
  padding: 2rem;
  text-align: center;
  background-color: #f4f4f4;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout-btn {
  background-color: #d50000;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: bold;
}

.logout-btn:hover {
  background-color: #b71c1c;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 3rem;
}

.card {
  padding: 2rem;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  width: 200px;
  transition: 0.3s;
}

.card.rojo {
  background-color: #d50000;
}

.card.gris {
  background-color: #616161;
}

.card.claro {
  background-color: #b71c1c;
}

.card:hover {
  transform: scale(1.05);
  opacity: 0.9;
}
